table.fullWidth.foot
    
    tr
        td.social(align="center")
            a(href="https://www.facebook.com/")
                img(src="https://www.mailjet.com/images/theme/v1/icons/ico-social/facebook.png", alt="FaceBook")

            a(href="https://twitter.com/")
                img(src="https://www.mailjet.com/images/theme/v1/icons/ico-social/twitter.png", alt="Twitter")

            a(href="https://www.youtube.com/user/")
                img(src="https://www.mailjet.com/images/theme/v1/icons/ico-social/youtube.png", alt="YouTube")
            
            a(href="https://www.instagram.com/")
                img(src="https://www.mailjet.com/images/theme/v1/icons/ico-social/instagram.png", alt="Instagram")

            a(href="https://www.linkedin.com/")
                img(src="http://www.turnkeywow.com/tk/src/images/LI-RD-WHT.png", alt="LinkedIn")
    tr
        td(align="center")
            //- p.headline.small 17094 E Tennessee Dr. Aurora, CO 80017 <br /> <a href="#">Click here</a> to unsubscribe.
            p.headline.small © #{new Date().getFullYear()} Rick Slaten<br />All Rights Reserved<br /><a href="http://example.com/" style="color: #C7B6B7"> Terms, Privacy & Notices</a><br /><br /><a href="http://example.com/" target="_blank" >Unsubscribe</a>