table.fullWidth(style="word-break:break-word;")
    tr
        td(style="width=600;text-align:left;word-break:break-word")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    tr
        include ../parts/image.pug
    tr
        td(style="width=600;text-align:left;word-break:break-word")
            p With appreciation,
            p Company/Person