.subject {
  display: none;
}

.table {
  max-width: 600px;
  width: 600px;
  overflow: hidden;
}

.banner {
  width: 100% !important;
  max-width: 600px;
}

.fullWidth {
  width: 100%;
}

p {
  font-family: "Cabin Condensed", sans-serif;
  color: #424242;
  line-height: 30px;
  font-size: 20px;
}

.headline {
  font-family: "Cabin Condensed", sans-serif;
  color: #fff;
}

.small {
  font-size: 16px;
  line-height: unset;
}

a {
  color: #acd81e;
}

.button {
  padding: 10px 25px;
}

.column-2 {
  padding-top: 2em;
  width: 300px;
}

.foot {
  background-color: #424242;
  border-radius: 20px 20px 0 0;
}

.social {
  padding-top: 30px;
}

.social a {
  padding: 0 0.5em;
}

.social img {
  height: 35px;
}

.preheader {
  display: none !important;
  font-size: 1px;
  line-height: 1px;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  mso-hide: all;
}

i {
  font-style: italic;
}

:focus {
  outline: 5px solid #2d7dd2;
}
