doctype html
html
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
    head
        title test
        div.subject subject line

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700&display=swap")
        |
        |
        link(rel="stylesheet" href="../css/style.css")
        |
        |


        style(type="text/css").
            :focus{outline:5px solid #FA7C1F;outline-offset:.5em}
        base(target="_blank")


    body
        div.preheader Pre-header message goes here

        <!--[if mso]><center><table><tr><td width="600px"><![endif]--><div style="max-width:600px;width:600px;margin:0 auto;"><!--[if mso]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
            //Container
            table.table(width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width:600px;margin:0 auto")
                tr(align="center")
                    td(align="center")

                        table(width="600" style="table-layout: auto;")
                            tr
                                include ../parts/hero.pug
                            tr
                                include ../parts/text-1.pug
                            tr
                                include ../parts/button.pug
                            tr
                                include ../parts/text-2.pug
                            tr
                                include ../parts/footer.pug

        </div><!--[if mso]></td></tr></table></center><![endif]--> 